PORT=4000
NODE_ENV=development
MONGODB_USERNAME=tu_usuario
MONGODB_PASSWORD=tu_password
MONGODB_URI=mongodb+srv://<usuario>:<password>@tu_cluster.mongodb.net/actividad_graphql?retryWrites=true&w=majority&appName=ClusterProductos
